name: Main Branch

on:
  push:
    branches:
      - "main"
jobs:
  Test:
    name: 'Test Vite App'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout App
        uses: actions/checkout@v2
      - name: Setup Node Version
        uses: actions/setup-node@v1
        with:
          node-version: 16
      - name: Install Dependencies
        run: npm ci